.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock {
  width: 400px;
  height: 400px;
  background: lightslategrey;
  border-radius: 200px;
}
.arrows {
  transform: translate(200px, 200px);
}

.arrows > * {
  height: 200px;
  background: black;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.minute {
  width: 6px;
}
.second {
  width: 12px;
}
.hour {
  width: 18px;
}
